html, body{
    background-color: #f0f0f0;
}
.circle {
    height: 105px;
    width: 105px;
    background-color: #555;
    border-radius: 50%;
    color: white;
    display:flex;
    justify-content: center;
    align-items: center;
    border: white 10px solid;
    margin-left:auto;
    margin-right:auto;
    padding: 0 0 0 10px;
}

.circle2 {
    height: 18px;
    width: 18px;
    background-color: #555;
    border-radius: 50%;
    color: black;
    display:flex;
    justify-content: center;
    align-items: center;
    justify-self: flex-end;
    margin-left:5px;
}

.row{
    --bs-gutter-x: 0rem;
}

.Footer{
    display:flex;
    justify-content: flex-start;
}

.Footer > p {
    flex-basis:30%;
    flex-grow:1;
}